@use "../utlties/colors" as CO;
@use "../utlties/mixins" as MX;
@use "../utlties/screens" as SC;

.edc-card {
  background-color: CO.$card-color;
  color: CO.$secondry-color;
  padding: 30px;
  h3,
  h4 {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
    span {
      color: CO.$primary-color;
      font-size: 20px;
    }
  }
  li {
    line-height: 2;
    font-size: 18px;
  }

  button {
    @include MX.btn;
    margin-top: 30px;
    &:hover {
      @include MX.btn-hover;
    }
  }
}

@media (max-width: SC.$tablet) {
  .edc-card {
    text-align: center;
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 15px;
      margin-bottom: 40px;
    }
    li {
      list-style: none;
      margin-bottom: 30px;
    }
  }
}
