@use "../utlties/mixins" as MX;
@use "../utlties/screens" as SC;

.experience-co {
  position: relative;
  @include MX.section-panding;
  h2 {
    @include MX.heading;
  }
  .experience-card {
    @include MX.flex-center;
    gap: 50px;
  }
  @media screen and (max-width: SC.$tablet) {
    .experience-card {
      flex-direction: column;
    }
  }
}
