@use "../utlties/colors" as CO;
@use "../utlties/mixins" as MX;

.experience-sub-card {
  @include MX.flex-vertical-center;
  align-items: start;
  h4 {
    color: CO.$primary-color;
    font-size: 20px;
    padding-block: 5px;
    span {
      color: CO.$secondry-color;
      text-transform: capitalize;
    }
  }
  p {
    color: CO.$secondry-color;
    font-size: 15px;
    word-spacing: 10px;
  }
  ul {
    margin-top: 20px;
    text-indent: 5px;
    color: CO.$secondry-color;
    list-style-type: "►";
    font-size: 12px;
    margin-left: 15px;
    li {
      padding: 5px;
    }
  }
}
