@use "../utlties/colors" as CO;
@use "../utlties/mixins" as MX;
@use "../utlties/screens" as SC;

.experience-sub-card {
  @include MX.flex-vertical-center;
  align-items: start;
  h4 {
    color: CO.$primary-color;
    font-size: 20px;
    padding-block: 5px;
    span {
      color: CO.$secondry-color;
      text-transform: capitalize;
    }
  }
  p {
    color: CO.$secondry-color;
    font-size: 15px;
    word-spacing: 10px;
  }
  ul {
    margin-top: 20px;
    color: CO.$secondry-color;
    list-style-type: "►";
    font-size: 12px;
    margin-left: 15px;
    max-width: 500px;
    li {
      padding: 10px 5px;
      max-width: 90%;
    }
  }
}

@media screen and (max-width: SC.$tablet) {
  .experience-sub-card {
    margin-left: 30px;
  }
}
