@use "../utlties/colors" as CO;
@use "../utlties/mixins" as MX;

.container-sc {
  cursor: pointer;
  padding: 50px;
  margin: auto;
  div {
    position: relative;
    img {
      display: block;
      max-width: 400px;
      height: 250px;
      filter: grayscale(80%);
      transition: filter 500ms linear, transform 0.3s ease;
      &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        box-shadow: 0 0 40px 0 #00ffff;
      }
    }
    h4 {
      text-align: center;
      padding: 10px;
      color: white;
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      display: block;
      text-align: center;
      &:first-of-type {
        color: CO.$secondry-color;
        margin-top: 20px;
      }
      &:last-of-type {
        color: CO.$primary-color;
        margin-top: 10px;
        word-spacing: 10px;
      }
    }
  }
}
